*{
   margin: 0;
   padding: 0;
}
body{
   background-color: aliceblue;
   font-family: "Trirong", serif;
}
.container{
   max-width: 1000px;
   background-color: aqua;
   margin: 0 auto;

}
header{

}
.profile-img{
   width: 100px;
   height: 120px;
   border-radius: 90%;
   padding: 20px;
   float: left;
}
.header-bio{
   float: left;
   padding: 30px;
}
.header-contact{
   float: right;
   padding: 40px;
}
.header-contact a{
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;

}
#personal-section{

}
.left-div{
   width: 100%;
   float: left;
}
.right-div{
   width: 60%;
   float: right;
}